In [118]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from statsmodels.formula.api import ols
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, ElasticNet, Ridge, Lasso
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [65]:
df = pd.read_csv(r"C:\Users\jsrei\OneDrive\Desktop\Data Science\kc_house_data.csv")

In [66]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [166]:
results = ols("price ~ sqft_living + waterfront + lat", data=df).fit()   #Max r^2 is 0.700, grade would be the next to go
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.606
Model:                            OLS   Adj. R-squared:                  0.606
Method:                 Least Squares   F-statistic:                 1.108e+04
Date:                Thu, 06 Jul 2023   Prob (F-statistic):               0.00
Time:                        18:23:19   Log-Likelihood:            -2.9754e+05
No. Observations:               21613   AIC:                         5.951e+05
Df Residuals:                   21609   BIC:                         5.951e+05
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept   -3.465e+07   5.39e+05    -64.326      0.000   -3.57e+07   -3.36e+07
sqft_living   266.5080      1.719    155.068      0.000     263.139     269.877
waterfront   8.532e+05   1.82e+04     46.826      0.000    8.18e+05    8.89e+05
lat          7.282e+05   1.13e+04     64.266      0.000    7.06e+05     7.5e+05
==============================================================================
Omnibus:                    15949.404   Durbin-Watson:                   1.990
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           834722.000
Skew:                           3.031   Prob(JB):                         0.00
Kurtosis:                      32.836   Cond. No.                     7.82e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.82e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [167]:
pred_vals = results.predict(df[['sqft_living','waterfront','lat']])

In [168]:
pred_vals

0        258247.215815
1        781474.490251
2        314067.110322
3        473114.375015
4        468401.554654
             ...
21608    488503.759603
21609    559037.112460
21610    276194.097173
21611    387148.160792
21612    275975.630261
Length: 21613, dtype: float64

In [169]:
res = pd.concat([pred_vals.to_frame().rename(columns={0:'y_hat'}),df['price']], axis=1)

In [174]:
res['error'] = res['y_hat'] - res['price']

In [175]:
res.head()

           y_hat     price          error
0  258247.215815  221900.0   36347.215815
1  781474.490251  538000.0  243474.490251
2  314067.110322  180000.0  134067.110322
3  473114.375015  604000.0 -130885.624985
4  468401.554654  510000.0  -41598.445346

In [176]:
res['sq_error'] = res['error']**2

In [177]:
np.sqrt(res['sq_error'].mean())

230437.47668160216